.carousel{
  
  padding: 0 10%;
  position: relative;
}
.carousel_text{
  position: absolute;
  width: 351px;
  height: 44px;
  left: 1073px;
  top: 59px;
  font-weight: 700;
  font-size: 48px;
  line-height: 44px;
  color: #FFFFFF;
}
.carousel_text_span{
  color: #FF3232;
}
.carousel_img{
  width: 100%;
  object-fit: cover;
}
.carousel-indicators{
  margin-right: 20% !important;
  color: #C9C9C9E5;
} 
.carousel-control-prev {
  left: 8% !important;
}
.carousel-control-next {
  right: 8% !important;
}