.navbar_top{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100vw;
    height: 102px;
    background: #F8F8F8;
    padding:0 10%;
  }
  .navbar_top_about{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40%;
  }
  .navbar_top_about_link{
    margin-bottom: 10px;
  }
  .navbar_top_about_text{
    width: 77px;
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    color: #1D1D1D;
    margin-right: 10px;
  }
  
  .navbar_top_tel_nomber{
    width: 161px;
    font-weight: 600;
    font-size: 18px;
    line-height: 190%;
    color: #000;
    position: relative;
  }
  .navbar_top_tel_nomber_text{
    color:#FF3232;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 25px;
    text-decoration: none;
  }
  .navbar_top_tel_location{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1D1D1D;
    margin-left: 13px;
    margin-bottom: 8px;
  }
  .navbar_middle{
    margin: 0 auto;
    /* padding: 0 10%; */
    height: 98px;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar_middle_logo{
    width: 166px;
    height: 42px;
    transform: rotate(1.4deg);
  }
  .navbar_middle1{
    display: flex;
    align-items: center;justify-content: center;
    margin-left: -10%;
  }
  .navbar_middle_burger{
    Width:45px;
    Height:29px;
    border: 1px solid #26211E33;
    border-radius: 6px;
    margin-right: 11px;
  }
  .navbar_middle_katalog{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  .navbar_middle2{
    position: relative;
  }
  .navbar_middle_input{
    width: 40vw;
    height: 54px;
    background: linear-gradient(98.34deg, #FCFCFC 0%, #F9F9F9 0.01%, #FDFDFD 100%);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #7D7D7D;
    padding-left: 28px;
  }
  .navbar_middle_search{
    width: 24px;
    height: 24px;
    color: #5A5A5A;
    position: absolute;
    right: 10px;
    top: 15px;
  }
  .navbar_middle3{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar_middle_cart{
    width: 24px;
    height: 24px;
    color: #5A5A5A ;
  }
  .navbar_middle_karzinka{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1D1D1D;
  } 
 .modal1{
  /* display: none; */
  width: 210px;
  background-color: #F8F8F8;
  margin-left: 20%;
  margin-top: 20%;
  display: none;
  position: absolute;
  z-index: 99;
 }
 .modal_text{
  list-style: none;
  text-align: center;
  padding: 0;
 }
 .modal_text_link{
  text-decoration: none;
  color: #000;
 }
 .open_modal{
  display: block;
 }
 
  @media(max-width:991px){
    .navbar_middle1{
      margin-left: 0;
    }
    .navbar_middle_input{
      width: 350px;
    }
  }
  @media (max-width:800px){
    .navbar_top_about{
      margin-right: 10%;
    }
    .navbar_top_tel_nomber{
      display: none;
    }
    .navbar_middle1{
      display: none;
    }
    .navbar_middle3{
      display: none;
    }
  }
  @media(max-width:520px){
    .navbar_middle_logo{
      position: absolute;
    top: 35px;
    }
    .navbar_middle2,{
      display: none;
    }
    .navbar_top_tel_nomber{
      display: none;
    }
  } 
 